[Unit]
Description=Climate Control Application

[Service]
Environment=LD_PRELOAD=/usr/lib/libEGL.so
ExecStart=/opt/com.genivi.gdp.hvac/bin/HVAC_rvi_vtc1010 -platform wayland
