[Desktop Entry]
Name=Climate Controls
Type=Application
Icon=file://opt/com.genivi.gdp.hvac/share/icons/com.genivi.gdp.hvac.svg
Unit=com.genivi.gdp.hvac
Exec=/opt/com.genivi.gdp.hvac/bin/HVAC_rvi_vtc1010 -platform wayland
